body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.marker {
  stroke: #030300;
  height: 24px;
  width: 24px;
  transform: translate(-50%, -100%);
}